<h1>Welcome</h1><br>
<button (click)="login()">Login</button>
<button (click)="logout()">logout</button>
<br>
@if (data) {
  <b>user login</b>
}@else {
  <b>user Logout</b>
}
<br><br>
<h1>Switch Start</h1>
 @switch (Name) {
@case ('Kashif') {
  <b>Hello Kashif</b>
}
@case ('Zahid') {
  <b>Hello Zahid</b>
}
@case ('Sadam') {
  <b>Hello Sadam</b>
}
@default {
  <b>No data Match</b>
}
 }
 <br>
 Enter Your Name:<input type="text" #txtname (keyup)="0"><br>
 @switch (txtname.value) {
  @case ('Asif') {
<b>Hello Asif Shah</b>
  }
  @case ('Saqib') {
    <b>Hello Saqib Shah</b>
  }
  @case ('Shahid') {
    <b>Hello Shahid Shah</b>
  }
  @default {
    <b>No Data Matched</b>
  }
 }
 <br><br>
 <h1>For Loop Start</h1><br>
 @for(emp of foremployee;track emp.id){
  <ul>
    <li>
      ID:{{emp.id}} | Email:{{emp.email}}
    </li>
  </ul>
 }
 <br><br>
 <table border="1">
  <tr>
    <th>Sr No</th>
    <th>Employee ID</th>
    <th>Employee Email</th>
  </tr>
  
    @for(emp of foremployee;let i=$index;track emp.id){
     <tr>
      <td>{{i+1}}</td>
      <td>{{emp.id}}</td>
      <td>{{emp.email}}</td>
     </tr>
    }
  
 </table>